{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}


<section class="info info-pane{{#is_info_pin}} sticky-info-panel{{/is_info_pin}}">
    {{#is_info_pin}}
        <info-pin-buttons class="details-wrap" maximized="maximized" on-change-maximized-state="@onChangeMaximizedState"
                          on-close="@onClose"></info-pin-buttons>
    {{/is_info_pin}}

    <div class="workflow-info-pane info-pane__body">
        <div class="info-pane__header">
            <div class="info-pane__header-title">
                <div class="info-pane__section-title">Title</div>
                <h3>{{instance.title}}</h3>
            </div>

            <div class="info-pane__utility">
                {{#is_allowed 'update' instance context='for'}}
                    <div class="details-wrap">
                        <a class="btn btn-3bbps dropdown-toggle" href="#" data-toggle="dropdown">
                            <span class="bubble"></span>
                            <span class="bubble"></span>
                            <span class="bubble"></span>
                        </a>
                        <ul class="dropdown-menu three-dots-list" aria-labelledby="drop1" role="menu">
                            {{^is_info_pin}}
                                <li>
                                    <a href="javascript://" data-toggle="modal-ajax-form"
                                       data-object-plural="workflow_templates"
                                       data-object-singular="WorkflowTemplate"
                                       data-modal-reset="reset" data-modal-class="modal-wide"
                                       title="Edit Workflow" data-object-id="{{instance.id}}">
                                        <i class="fa fa-pencil-square-o"></i>
                                        Edit Workflow
                                    </a>
                                </li>
                            {{/is_info_pin}}
                        </ul>
                    </div>
                {{/is_allowed}}
            </div>
        </div>

        <div class="info-pane__main-content workflow-attributes">

            <div class="workflow-attributes__description">
                <div class="info-pane__section-title">
                    <h6>Description</h6>
                </div>

                <div class="info-pane__section-content">
                    <read-more {text}="instance.description"></read-more>
                </div>
            </div>

            <div class="workflow-attributes__repeat">
                <div class="info-pane__section-title">
                    <h6>Repeat</h6>
                </div>
                <div class="info-pane__section-content">
                    <repeat-on-summary {unit}="instance.unit" {ends}="instance.ends"
                                       {occurrences}="instance.occurrences" {repeat-every}="instance.repeat_every">
                    </repeat-on-summary>
                </div>
            </div>

            <div class="workflow-attributes__slug">
                <div class="info-pane__section-title">
                    <h6>Code</h6>
                </div>
                <div class="info-pane__section-content">
                    {{instance.slug}}
                </div>
            </div>

            <div class="workflow-attributes__custom">
                {{>'/static/mustache/custom_attributes/info.mustache'}}
            </div>

        </div>
    </div>
</section>

<info-pane-footer {created-at}="instance.created_at" {modified-at}="instance.updated_at"
                  {modified-by}="instance.modified_by"></info-pane-footer>
