{{!
    Copyright (C) 2018 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

{{#if comments.length}}
  <h6>Task comments ({{comments.length}})</h6>
  <div
    class="entry-list"
    role="list">
  {{#each comments}}
    <cycle-task-comments-item
      {parent-instance}="instance"
      {(removed)}=""
      {instance}=".">
    </cycle-task-comments-item>
  {{/each}}
  </div>
{{else}}
  <h6>Task comments</h6>
  No comments.
{{/if}}
