{{!
    Copyright (C) 2017 Google Inc.
    Licensed under http://www.apache.org/licenses/LICENSE-2.0 <see LICENSE file>
}}

<!-- Right side workflow and task trees area -->
<dashboard-widgets class="span{{#system_role 'No Role'}}12{{/system_role}}{{^system_role 'No Role'}}9{{/system_role}} content-wrap">
    <div class="inner-content">
        <section class="widget dashboard small-margin">
            <header class="header widget-nav">
                <h2>My Workflows ({{workflowCount}})</h2>
            </header>
            <section class="content">
                {{{ renderLive workflowView }}}
                {{#workflow_show_all}}
                    <a href="javascript://" class="workflow-trigger show-all">Show all my workflows</a>
                {{/workflow_show_all}}
            </section>
        </section><!-- Widget end -->

    </div><!-- inner-content end -->
</dashboard-widgets>
